* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: transform 0.3s all,
}
body {
	font-family: font3;
	font-optical-sizing: auto;
	overflow-x: hidden;
	background-color: #010101;
}

.backvid {
	height: 100vh;
	overflow: hidden;
}
& video {
	width: 100%;
	object-fit: cover;
	height: 100vh;
}
.backvid2 {
	/* height: 100vh; */
	overflow: hidden;
	position: absolute;
	top: -50%;
	z-index: 10;
	/* background-color: rebeccapurple; */
	mix-blend-mode: screen;
}
& video {
	overflow-x: hidden;
	width: 100vw;
	/* object-fit: cover; */
	/* height: 100vh; */
}

.navbar {
	z-index: 1000;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed; /* Keep the navbar fixed at the top */
	width: 100%;
	border-bottom: 1px solid #8888889b;
	background: #0c03482f; /* Semi-transparent white background */
	border-radius: 0.2rem; /* Rounded corners */
	padding: 20px; /* Padding around the text */
	backdrop-filter: blur(20px); /* Blur effect */
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Shadow for depth */
	color: white; /* Text color */
	text-align: center; /* Center text */
}

.logo {
	font-size: 1rem;
}

.nav-list {
	list-style: none;
	display: flex;
}
#active {
	background-color: #b3bde1; /* Light hover effect */
	border-radius: 0.5rem;
}

.nav-list li {
	margin: 0 15px;
}

.nav-list a {
	color: white;
	text-decoration: none;
	padding: 0.2rem 0.3rem;
	transition: ease-in 0.3s;
}

.nav-list a:hover {
	background-color: #b3bde1; /* Light hover effect */
	border-radius: 5px;
	letter-spacing: 0.2rem;
	transition: ease-in 0.3s;
}

/* Mobile Styles */
.menu-toggle {
	display: none;
	flex-direction: column;
	cursor: pointer;
}

.bar {
	height: 3px;
	width: 25px;
	background-color: white;
	margin: 3px 0;
}
html {
	font-size: 100%;
	scroll-behavior: smooth;
}
/* Media Queries */
@media (max-width: 768px) {
	.nav-list {
		display: none;
		flex-direction: column;
		width: 100%;
		position: absolute;
		top: 60px; /* Adjust based on navbar height */
		left: 0;
		border-bottom: 1px solid #8888889b;
		background: #0c03482f; /* Semi-transparent white background */
		& li {
			margin-top: 1rem;
			font-size: 2rem;
		}
	}

	.nav-list.active {
		display: flex;
		border-bottom: 1px solid #8888889b;
		background: #0c034855; /* Semi-transparent white background */
		border-radius: 0.2rem; /* Rounded corners */
		padding: 20px; /* Padding around the text */
		backdrop-filter: blur(20px); /* Blur effect */
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Shadow for depth */
	}

	.menu-toggle {
		display: flex;
	}

	html {
		font-size: 50%;
	}
}
@font-face {
	font-family: 'Aerospace';
	src: url('Animated-Portfolio-main/Aerospace.otf') format('otf'), url('Animated-Portfolio-main/Aerospace.ttf') format('truetype'), url('Animated-Portfolio-main/AnkhSanctuary-PVK0B.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'font2';
	src: url('Animated-Portfolio-main/AnkhSanctuary-PVK0B.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'font3';
	src: url('./Animated-Portfolio-main/Infusive.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.content {
	padding: 100px 20px; /* Add padding to avoid content being hidden behind the navbar */
}
.container {
	font-family: font3;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 40vw;
	color: #b3bde1;
	margin: auto;
	padding: 20px;
	border-radius: 5px;
	border-radius: 0.3rem;
	padding: 1.5rem;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	border: 1px solid rgba(174, 174, 174, 0.509);
	backdrop-filter: blur(10px);
	transition: 0.5s all;
}

h1 {
	text-align: center;
}

label {
	display: block;
	margin: 10px 0 5px;
}

input,textarea {
	font-family: font3;
	background: transparent;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #b3bde1;
	border-radius: 5px;
   color: #a6b6ed;
}

button {
	font-family: font3;
	width: 100%;
	padding: 10px;
	background-color: #b3bde1;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #a6b6ed;
}

#responseMessage {
	text-align: center;
	margin-top: 20px;
}
